<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
            elit. Quos nam totam error excepturi sint sunt, 
            minus officia qui soluta atque nisi cumque vero 
            voluptas fuga ducimus voluptates adipisci autem 
            asperiores exercitationem ab! Quasi iusto corporis 
            odio, minima quae explicabo ullam?</p>

    </div>
</div>