<div class="jumbotron mt-4">
    <h1 class="display-4" >Notes App MongoDB</h1>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur facere fugit, cum adipisci eligendi nisi tempora voluptas labore totam recusandae laborum explicabo iste, est optio nesciunt distinctio soluta exercitationem laboriosam.</p>
    <a href="https://www.google.es/" class="btn btn-primary">google</a>
</div>