<div class="col-md-8 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nuevo Evento</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="form-row">

                    <div class="col-md-12">
                        <!-- Material input -->
                        <div class="md-form form-group">
                            <input type="text" name="title" class="form-control" autofocus>
                            <label>Nombre de la feria</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3">
                        <!-- Material input -->
                        <div class="md-form form-group">
                            <input type="date" name="fecha_inicio" class="form-control" autofocus>
                            <label>Fecha de Inicio</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3">
                        <!-- Material input -->
                        <div class="md-form form-group">
                            <input type="date" name="fecha_fin" class="form-control" autofocus>
                            <label for="inputPassword4MD">Fecha de Fin</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Material input -->
                        <div class="md-form form-group">
                            <input type="time" value="08:00" name="hora_inicio" class="form-control" autofocus>
                            <label for="inputPassword4MD">Hora Inicio</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Material input -->
                        <div class="md-form form-group">
                            <input type="time" value="18:00" name="hora_fin" class="form-control" autofocus>
                            <label for="inputPassword4MD">Hora de Fin</label>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>

                <div class="col-md-12">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <input type="text" class="form-control" name="description">
                        <label for="inputAddress2MD">Descripcion de la feria</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- Material input -->
                    <div class="md-form form-group">
                        <input type="text" class="form-control" name="objetivo">
                        <label for="inputAddress2MD">Objetivo</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>